{% use "@Contao/component/_figure.html.twig" %}

<div class="product_short {{ class }}">

    {% if figure %}
        {% if link %}<a href="{{ link }}">{% endif %}
        {% with {figure: figure} %}
            {{ block('figure_component') }}
        {% endwith %}
        {% if link %}</a>{% endif %}
    {% endif %}

    <div class="title">
        {{ title }}
    </div>

</div>