{% use "@Contao/component/_figure.html.twig" %}

<div class="product_short {{ class }}">

    {% if figure %}
        {% with {figure: figure} %}
            {{ block('figure_component') }}
        {% endwith %}
    {% endif %}

    <div class="title">
        {{ title }}
    </div>

</div>